@import "../node_modules/normalize.css/normalize.css";
@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";
@import url('https://fonts.googleapis.com/css?family=Roboto'); /* Font Roboto - font-family: 'Roboto', sans-serif;*/

.hero {
    position: relative;
    width: 100%;
    height: 100vh;
    
    /* BG*/
    background-image: url(../images/benjamin-child-17946-opt.jpg);
    background-position: center;
    background-size: cover;
    
    /* Button Aling */
    display: flex;
    justify-content: center;
    align-items: center;
}